.chat-area {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: blue;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    border: 5px solid #0e1e3e;
    padding: 8px;
}
.input-area {
    display: flex;
    padding: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: red;
}

.text-input {
    width: 70%;
}
.send-button {
    width: 30%;
}